body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
.fa-twitter,.fa-youtube-play,.fa-rss,.fa-facebook{
     /*border: 1px solid white;
     */padding: 5px;
     border-radius: 50%;
     background-color: #fff;
     color: rgb(90, 81, 81);
     font-size: 12px;
     margin-top: -5px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     margin-left: 3px;
     height:auto;
     width:12px;
}
  .navbar {
    overflow: hidden;
    background-color: #262626;
    height: 30px;
  }
  
  .navbar a {
    float: left;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 8px;  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 0.5px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);      
    background-color: #262626;
    font-family: sans-serif;
   padding-left: 50px;
   height: 30px;
   
  }
  
   .dropdown:hover .dropbtn i{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    color: #333;
    background-color: #fff;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(192, 50, 50, 0.2);
    z-index: 1;
  margin-left: 40px;
    
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 10px;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(211, 230, 241);
    font-size: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  .dropbtn i{
      
      color: #fff;
      width: 10px;
  }
  

.titlebar{ 
    text-align: center;
    background-color: black;
}
.topright{
    margin-left: 580px;
    
}
/* navbar style */
.top {
  border-bottom: 2px solid #333;
}

.menudesign {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: rgb(190, 52, 52);
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  height: 30px;
  padding-left: 150px;
}

.menudesign li {
  float: left;
}

.menudesign li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
}

.menudesign li a:hover {
  color: #111;
  background-color: #fff;
}

.menudesign .active {
  background-color: rgb(255, 255, 255);
  color: #111;
}

.menudesign .iconhome {
  font-size: 15px;
}

.menudesign .iconhome:hover {
  background-color: rgb(218, 88, 42);
  color: rgb(170, 35, 35);
}

.menudesign .iconsearch {
  margin-left: 500px;
  font-size: 15px;
}

.menudesign .iconsearch:hover {
  background-color: rgb(190, 52, 52);
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}
/* menubar */

  .newsstyle{
      font-size: 11px;     
      margin-top: 5px;
  }
  /* news styling start */
  .mainnews{
    padding: 0;
    margin: 0 145px 0 145px;

  }
  .newstitle{
    border-bottom: 2px solid #000;
  }
  .newsApart{
    width: 620px;    
    float: left;    
  }
  .newsBpart{
    width: 350px;    
    float: left;
  }
  .newssetting{
    list-style: none;   
    margin:-15px 0px 0px -40px;
    padding-right: 16px;
    margin-top: 10px;
  }
  .imagesection{
  height: 85px;
  width: 140px;
  float: left;  
  margin-right: 10px;  
  margin-top: 0;
}
.newssection{
  justify-content: left;
  font-size: 13px;
  color: #4e4a4a;
    line-height: 16px;
    font-weight: normal;
  
}
/* partB style  */

.partBnavbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
 
  background-color: #333;
  
}

.partBnavbar li{
  float: left; 
  border-bottom: 3px solid #333;  
  
}

.partBnavbar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px; 
  text-decoration: none;
  background-color: rgb(173, 178, 184);
  height: 5px;
  font-size: 11px;
  line-height: 8px;  
  width: 65px;
  font-weight: bolder;
  text-transform: uppercase;
}

.partBnavbar li a:hover:not(.active) {
  background-color: #111;
}

.partBnavbar .active {
  background-color: #333;
}
/* sidebar news list */
.sidebarlist{
  list-style-type: none;
  margin: 0;
  padding: 0;  
  margin-top: 90px;  
}
.sidebarlist li a{  
  color: rgb(73, 70, 70);
  text-align: center;
  padding: 14px 10px; 
  text-decoration: none;  
  height: 5px;
  font-size: 13px;
  line-height: 8px;  
  width: 65px;
  justify-content: left;
 
}

.imagesectionsidebar{
  height: 60px;
  width: 80px;
  float: left;  
  margin-right: 10px;   
  
}
.newssectionsidebar{
  justify-content: left;
  font-size: 14px;
    color: #4e4a4a;
    line-height: 16px;
    margin-bottom: 40px;
    margin-top:20px;
  
}
/* pagination start */
.pagination {
  display: inline-block;
  text-align: center;  
  margin-left: 200px;
}

.pagination a {
  color: black;
  float: left; 
  text-decoration: none;
  
  border: 1px solid rgb(255, 255, 255);
 margin-left: 1px;
  padding: 6px 6px 6px 6px; 
  font-size: 11px; 
  background-color: rgb(228, 228, 228);
  margin-bottom: 300px;
}
/* footer start */
.footer{
  border-top: 2px solid red;
  height: 700px;
  background-color: #111;
  

}
.footerA{

  margin-top: -30px;
width: 620px;
float: left;


}
.footerB{
width: 640x;
float: left;
margin-top: -30px;

}
.footerA1{


width: 200px;
float: left;

}
.footerA1 li{  
  list-style-type: none;
  margin: 8px;
  padding: 0;  
  font-size: 10px;
  color: #ddd;
  font-weight: 100;
  
  }
  .footerA1 li a{
    text-decoration: none;
    color: #ddd;
    
  }
  .footerA1 li a:hover{   
    color: rgb(82, 79, 79);
  }

  .hrdesignhead{
    
  padding-left:10px;
   border-bottom: 1px solid rgba(145, 145, 145,0.3); 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   
   
  
   
  }
  .hrdesignspan{
    background:#111; 
   padding:0 20px;
    color: rgb(255, 255, 255);
    
  }
  